<div style="height: 100%;">
  <div class="row">
    <div class="col-sm-2 col-md-4"></div>
    <div id="content-form" class="col-12 col-sm-8 col-md-4">
      <mat-card>
        <mat-card-title id="title-login">Login</mat-card-title>
        <form class="row" id="form-login" [formGroup]='formLogin'>
          <div class="col-12">
            <mat-form-field class="width-full" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName='usuario'>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="width-full" appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-12">
            <button class="width-full" mat-raised-button color="primary" (click)='login()'>Iniciar sesión</button>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="col-sm-2 col-md-4"></div>
  </div>
</div>